.container {
  display: flex;
  align-items: center;
  height: 57px;
}

.container h3 {
  font-weight: 800;
  text-transform: uppercase;
}

.light {
  width: 9px;
  height: 9px;
  margin-top: -1px;
  margin-right: 9px;
  border-radius: 100px;
}

.light.green {
  background-color: #7dbc4b;
}

.light.red {
  background-color: #f63433;
}
