.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.container h1 {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 800;
  line-height: 110%;
}

.container p {
  font-size: 16px;
  margin-top: 1em;
  line-height: 1.4;
}

.container p,
.container a {
  color: #657382;
}

.container a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.container a:hover {
  font-weight: 700;
  border-bottom: 2px solid;
}

.container div {
  margin-bottom: 24px;
}

.container .emoji {
  display: block;
  margin-top: 24px;
}
