.container {
  display: flex;
  align-items: center;
  min-height: 47px;
  text-align: center;
}

.container h4 {
  font-weight: 800;
  color: var(--app-primary-text-color);
}

.container p {
  font-weight: 500;
  color: var(--app-secondary-text-color);
}

.titles {
  user-select: none;
  width: 100%;
}

.titles.titlesWithIcon {
  width: calc(100% - 48px);
}

.icon {
  width: 24px;
  height: 24px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.smallIcon {
  width: 20px;
  height: 20px;
}
