.container {
  display: flex;
  align-items: center;
  min-height: 47px;
  text-align: center;
}

.container h4 {
  font-weight: 800;
  color: var(--app-primary-text-color);
}

.container p {
  font-weight: 500;
  color: var(--app-secondary-text-color);
}

.titles {
  user-select: none;
  width: 100%;
}

.titles.titlesWithIcon {
  width: calc(100% - 48px);
}
