.container p,
.container a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.006em;
  line-height: 20px;
  text-align: center;
  color: var(--grey);
}

.container a {
  display: block;
}

.container a {
  margin-top: 4px;
}
