<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="A little website to help you keep track of your fast during Ramadan"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1, user-scalable=no"
    />
    <meta name="mobile-web-app-capable" content="yes" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/safari-pinned-tab.svg"
      color="#000000"
    />
    <meta name="msapplication-TileColor" content="#00aba9" />

    <link
      rel="manifest"
      href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json"
    />
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
    <meta
      name="theme-color"
      content="<%= htmlWebpackPlugin.options.manifest.theme_color %>"
    />
    <% } %> <% for (var chunk of webpack.chunks) { %> <% if (chunk.names.length
    === 1 && chunk.names[0] === 'polyfills') continue; %> <% for (var file of
    chunk.files) { %> <% if (htmlWebpackPlugin.options.preload &&
    file.match(/\.(js|css)$/)) { %>
    <link
      rel="preload"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
      as="<%= file.match(/\.css$/)?'style':'script' %>"
    />
    <% } else if (file.match(/manifest\.json$/)) { %>
    <link
      rel="manifest"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
    />
    <% } %> <% } %> <% } %>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%= htmlWebpackPlugin.options.ssr({ url: '/' }) %>
    <script
      defer
      src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"
    ></script>
    <script>
      window.fetch ||
        document.write(
          '<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>'
        );
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-119554654-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-119554654-1');
    </script> -->
  </body>
</html>
