@import './minireset.min.css';
@import url('../assets/fonts/inter-ui.css');

:root {
  --grey: #818a92;
  --light-grey: #eaedef;
  --background-color: #f7f9fc;
}

body {
  font: 15px/22px 'Inter UI', system-ui, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.002em;
  font-weight: 400;
  text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-kerning: normal;
  font-feature-settings: 'kern' 1, 'liga' 1;
  background-color: var(--background-color);
}

#app {
  height: 100%;
}

@media only screen and (min-width: 600px) {
  #app {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) and (min-height: 720px) {
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  font-size: 30px;
  letter-spacing: -0.0150515em;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  letter-spacing: -0.013207em;
  line-height: 34px;
}

h3 {
  font-size: 20px;
  letter-spacing: -0.010262em;
  line-height: 28px;
}

h4 {
  font-size: 18px;
  letter-spacing: -0.00777558em;
  line-height: 25px;
}

p {
  font-size: 16px;
  letter-spacing: -0.0042117em;
  line-height: 22px;
}
